paper/
*.bck*
*.mpg
catalogs
__pycache__/
combined_maps
*.key
*.zip
*.mp4
*.mpeg
*.gif
*.ajs
*.pdf
*.jpg
js9/
13co/
*.aj
#*.pdf
*.fit*
*.png
*.svg
*.exe
*.dmg
*.nfs*
notebooks/.ipynb_checkpoints/
#*.jpg
#This is an independent repo. Look into merging with CARMA.
miriad-imaging/
#This is another independent repo, forked.
spectral-cube/
