*.key
*.zip
*.mp4
*.mpeg
*.gif
*.ajs
13co/
*.aj
#*.pdf
*.fit*
*.png
*.svg
*.exe
#*.jpg
#This is an independent repo. Look into merging with CARMA.
miriad-imaging/
#This is another independent repo, forked.
spectral-cube/
